.input-in-contact {
  position: relative;
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
