.awesome-section {
  width: $content-box-width;
  margin: 0 auto;
  @media screen and (max-width: $tablets-max-width) {
    width: 100%;
  }
}

.awesome-section__header {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

  cursor: default;

  color: #000000;
}

.awesome-section__underline {
  border-top: 1px solid $main-color !important;
  margin: 0 auto 40px auto;
}

.awesome-section__before-scriptum {
  height: 21px;
  width: 100%;
  margin: 0;
  justify-content: center;

  cursor: default;

  color: #86878b;

  @media screen and (max-width: $tablets-min-width) {
    text-align: center;
  }
}

.awesome-section__advisement-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 58px;

  @media screen and (max-width: $tablets-average-width) {
    flex-direction: column;
  }

  @media screen and (max-width: $tablets-min-width) {
    align-items: center;
  }
}

.awesome-section__advisement-list__content-block {
  display: inline-block;
  margin-top: 90px;
  @media screen and (max-width: $tablets-max-width) {
    margin-top: 45px;
  }

  @media screen and (max-width: $tablets-average-width) {
    width: 500px;
    margin: 0 auto;
  }

  @media screen and (max-width: $tablets-min-width) {
    width: 288px;
  }
}

.awesome-section__advisement-list__content-block__img {
  width: 170px;
  height: 170px;
  display: flex;
  margin: 0 auto;

  @media screen and (max-width: $tablets-max-width) {
    width: 158px;
    height: 158px;
  }
}

.awesome-section__advisement-list__content-block__header {
  width: 100%;
  justify-content: center;
  text-transform: none;
  cursor: default;
}

.awesome-section__advisement-list__content-block__data {
  margin: 8px 15px 0px 15px;
  text-align: center;
  cursor: default;
}
