$pricing-box-shadow: -1px 19px 50px -15px rgba(34, 60, 80, 0.61);

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background: #f5f5f5;
}

.pricing-section__header {
  height: 150px;
  margin: 50px 0 0 0;
  @media screen and (max-width: $tablets-max-width) {
    height: 120px;
  }
}

.pricing-section__underline {
  border-top: 1px solid $main-color !important;
  margin: 0 0 40px 0;

  @media screen and (max-width: $tablets-max-width) {
    margin: 0 0 32px 0;
  }
}

.pricing-section__before-scriptum {
  margin: 0;

  color: #86878b;

  @media screen and (max-width: $tablets-min-width) {
    text-align: center;
  }
}

.pricing-section__rate-info {
  display: flex;
  flex-direction: column;

  margin-top: 79px;
  width: 370px;
 
  @media screen and (max-width: $tablets-max-width) {
    margin-top: 49px;
    width: 317px;
  }
  
  @media screen and (max-width: $tablets-average-width) {
    width: 370px;
  }

  @media screen and (max-width: $tablets-min-width) {
    width: 288px !important;
  }
}

.pricing-section__rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  width: $content-box-width;

  @media screen and (max-width: $tablets-max-width) {
    width: 100%;
    justify-content: center;
    gap: 2%;
  }

  @media screen and (max-width: $tablets-average-width) {
    flex-direction: column;
    align-items: center;
  }
}

.pricing-section__rate-info__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
}

.rate-info__tab__name {
  height: 60px;
  background: #333333;
}

.rate-info__tab__name__text {
  text-transform: none;
  color: #ffffff;
}

.rate-info__tab__price {
  height: 100px;

  background: #333333;
  border: 1px solid #f5f5f5;
}

.rate-info__tab__price__text {
  color: #ffffff;
}

.rate-info__tab__type {
  height: 50px;

  background: #333333;
}

.rate-info__tab__type__text {
  color: rgba(255, 255, 255, 0.5);
}

.rate-info__tab__params {
  height: 50px;

  background: #ffffff;
}

.rate-info__tab__params__text {
  text-transform: capitalize;

  color: #86878b;
}

.pricing-section__rate-info:hover {
  box-sizing: border-box;
  margin-top: 50px;
  height: 510px;
  box-shadow: $pricing-box-shadow;
  @media screen and (max-width: $tablets-max-width) {
    margin-top: 20px;
    height: 480px;
  }

  @media screen and (max-width: $tablets-average-width) {
    margin-top: 49px;
    height: auto;
  }
}

.pricing-section__rates:not(:hover) .rate-info__active {
  box-sizing: border-box;
  margin-top: 50px;
  height: 510px;
  box-shadow: $pricing-box-shadow;

  @media screen and (max-width: $tablets-max-width) {
    margin-top: 20px;
    height: 480px;
  }

  @media screen and (max-width: $tablets-average-width) {
    margin-top: 49px;
    height: auto;
  }
}