.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 1170px;
}

.contacts-section__header {
  height: 150px;
  justify-content: center;
  margin: 0;
}

.contacts-section__bottom-border {
  height: 0px;
  width: 170px;

  border-top: 1px solid #ec7979;
  margin: 0 0 40px 0;
}
.contacts-section__before-scriptum {
  margin: 0;
  text-align: center;
  color: #86878b;
}

.contacts-section__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-section__fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contacts-section__private-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}

.contacts-section__input-in-contact {
  margin-top: 50px;
}

.contacts-section__message {
  display: flex;
  margin-top: 89px;
  width: 50%;
}

.contacts-section__textarea {
  display: flex;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
}

.contacts-section__button-with-filling {
  margin-top: 50px;
  width: 370px;
}

@media screen and (max-width: 1200px) {
  .contacts-section {
    width: 100%;
    box-sizing: border-box;
    padding-inline: 16px;
  }

  .contacts-section__header {
    height: 120px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .contacts-section__bottom-border {
    width: 143px;
    margin: 0 0 32px 0;
  }

  .contacts-section__before-scriptum {
    font-size: 14px;
    line-height: 16px;
  }

  .contacts-section__button-with-filling {
    width: 318px;
  }
}
