.footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-top: 40.54px;
  padding-bottom: 27px;
}

.footer-body__social-media-block {
  display: flex;
  margin-bottom: 32.23px;
  align-items: center;
  gap: 43.88px;
}

.water-mark {
  margin: 0;

  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1200px) {
  .footer-body {
    padding-top: 38.54px;
    padding-bottom: 25px;
  }

  .footer-body__social-media-block {
    margin-bottom: 42.23px;
    gap: 33.88px;
  }

  .footer-body__link-img {
    transform: scale(0.85);
  }

  .water-mark {
    font-size: 14px;
    line-height: 16px;
  }
}
