.header-body {
  display: flex;
  box-sizing: border-box;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 75px;
  width: 100vw;
  align-items: center;
  background-color: black;
  padding-left: 115.28px;
}
.header-body__label {
  display: flex;
  cursor: pointer;
}

.header-body__ax-latters {
  width: 51.81px;
  height: 30.69px;
}

.header-body__it-latters {
  height: 30.6900577545166px;
  width: 32.17488479614258px;
}

.header-body__nav {
  display: flex;
  height: 100%;
  width: 1170px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  flex-direction: row;
  justify-content: end;
}
