.media-section {
  width: 100%;
  background-color: #f8efef;
}

.media-section__info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.media-section__text-header {
  margin: 0;
  height: 60px;
  width: 470px;

  color: #333333;
}

.media-section__text-main {
  width: 470px;
  margin-top: 18px;

  color: #86878b;
}

.media-section__links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 49.84px;
}

.media-section__link-img {
  transform: scale(1.29);
}
