.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background: #f5f5f5;
}

.pricing-section__header {
  height: 150px;
  margin: 50px 0 0 0;
}

.pricing-section__bottom-border {
  height: 0px;
  width: 170px;

  border-top: 1px solid #ec7979;
  margin: 0 0 40px 0;
}

.pricing-section__before-scriptum {
  margin: 0;

  color: #86878b;
}

.pricing-section__rate-info {
  display: flex;
  flex-direction: column;

  margin-top: 79px;
  width: 370px;
}

.pricing-section__rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 1170px;
}

.pricing-section__rate-info__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
}

.rate-info__tab__name {
  height: 60px;
  background: #333333;
}

.rate-info__tab__name__text {
  text-transform: none;
  color: #ffffff;
}

.rate-info__tab__price {
  height: 100px;

  background: #333333;
  border: 1px solid #f5f5f5;
}

.rate-info__tab__price__text {
  color: #ffffff;
}

.rate-info__tab__type {
  height: 50px;

  background: #333333;
}

.rate-info__tab__type__text {
  color: rgba(255, 255, 255, 0.5);
}

.rate-info__tab__params {
  height: 50px;

  background: #ffffff;
}

.rate-info__tab__params__text {
  text-transform: capitalize;

  color: #86878b;
}

.pricing-section__rate-info:hover {
  box-sizing: border-box;
  margin-top: 50px;
  height: 510px;
  box-shadow: -1px 19px 50px -15px rgba(34, 60, 80, 0.61);
}

.pricing-section__rates:not(:hover) .rate-info__active {
  box-sizing: border-box;
  margin-top: 50px;
  height: 510px;
  box-shadow: -1px 19px 50px -15px rgba(34, 60, 80, 0.61);
}

@media screen and (max-width: 1200px) {
  .pricing-section__rate-info {
    margin-top: 49px;
    width: 317px;
  }

  .pricing-section__rate-info:hover {
    box-sizing: border-box;
    margin-top: 20px;
    height: 480px;
    box-shadow: -1px 19px 50px -15px rgba(34, 60, 80, 0.61);
  }

  .pricing-section__rates {
    width: 100%;
    justify-content: center;
    gap: 2%;
  }
  .pricing-section__header {
    height: 120px;


    font-size: 24px;
    line-height: 28px;
  }
  .pricing-section__bottom-border {
    width: 143px;
    margin: 0 0 32px 0;
  }

  .pricing-section__before-scriptum {
    font-size: 14px;
    line-height: 16px;
  }
}
